@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parking</h1>
    <p class="lead">Sistema de gerenciamento de Estacionamentos.</p>
    <p><a href="#" class="btn btn-primary btn-lg">+Info &raquo;</a></p>
</div>

